// unicali/src/pages/DevRoom.scss
// Implementación optimizada para React y Responsive Design
// Se corrigieron errores de Sass: var() no puede ser manipulado por funciones de color de Sass (rgba, lighten, darken)

$bg-pure: #322e4a;
$bg-2: #1c1a29; // darken($bg-pure, 15%) manual

$white-1: #FBFAFE;
$white-2: #9E99C1;
$white-3: #383358;
$white-4: #282347;

$black-1: #1f2158;
$black-2: #111231; // darken($black-1, 10%) manual
$black-3: #0a0b1e; // darken($black-2, 5%) manual

// Definimos fallbacks estáticos para que Sass pueda procesarlos
$neon-fallback-1: #5474FB;
$neon-fallback-2: #283CD2;

// Usamos variables de CSS para el runtime, pero variables de Sass para funciones de preprocesado
$neon-1: $neon-fallback-1;
$neon-2: $neon-fallback-2;

$cuadro-1: #D51E24;
$cuadro-2: #0F1110;

@mixin cube($width, $height, $depth) {
    &__front{ @include cube-front($width, $height, $depth); }
    &__back{ @include cube-back($width, $height, $depth); }
    &__right{ @include cube-right($width, $height, $depth); }
    &__left{ @include cube-left($width, $height, $depth); }
    &__top{ @include cube-top($width, $height, $depth);}
    &__bottom{ @include cube-bottom($width, $height, $depth); }
}

@mixin cube-front($width, $height, $depth) {
    width: $width; height: $height; transform-origin: bottom left;
    transform: rotateX(-90deg) translateZ( -($height - ($depth * 2) ) );
}
@mixin cube-back($width, $height, $depth) {
    width: $width; height: $height; transform-origin: top left;
    transform: rotateX(-90deg) rotateY(180deg) translateX(-$width) translateY(-$height) ;
}
@mixin cube-right($width, $height, $depth) {
    width: $depth * 2; height: $height; transform-origin: top left;
    transform: rotateY(90deg) rotateZ(-90deg) translateZ($width) translateX(-$depth * 2) translateY(-$height);
}
@mixin cube-left($width, $height, $depth) {
    width: $depth * 2; height: $height; transform-origin: top left;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-$height);
}
@mixin cube-top($width, $height, $depth) {
    width: $width; height: $depth * 2; transform-origin: top left; transform: translateZ($height) ;
}
@mixin cube-bottom($width, $height, $depth) {
    width: $width; height: $depth * 2; transform-origin: top left; transform: rotateY(180deg) translateX(-$width);
}

.dev-room-page {
    /* RESTORE 3D ENGINE */
    &, *, *::after, *::before {
        transform-style: preserve-3d;
    }

    width: 100%; height: 100vh;
    display: flex; justify-content: center; align-items: center;
    background-image: radial-gradient(circle, $bg-pure, $bg-2);
    overflow: hidden;
    position: relative;
    z-index: 5;

    .room-scene {
        position: relative;
        width: 28vw; height: 28vw;
        display: flex; justify-content: center; align-items: center;

        @media (max-width: 1024px) { transform: scale(1.5); }
        @media (max-width: 768px) { transform: scale(2.2); }
        @media (max-width: 480px) { transform: scale(3.5); }
    }

    .house {
        position: absolute; width: 28vw; height: 28vw;
        transform-style: preserve-3d;
        will-change: transform;
    }

    .face { position: absolute; transform-style: preserve-3d; }

    .h-shadow {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        box-shadow: 1.5vw -3vw 3vw $bg-2, 1.5vw .5vw 1.5vw $bg-2;
    }

    .h-light {
        position: absolute;
        &.l-1 { bottom: 5vw; right: 0; width: 14vw; height: 14vw; border-radius: 50%; background-image: radial-gradient(#3a3555, transparent); filter: blur(1vw); }
        &.l-2 { bottom: 18vw; right: -1vw; width: 2vw; height: 12vw; border-radius: 50%; transform: rotateZ(-50deg); background-image: radial-gradient(rgba($neon-1, .45) 50%, rgba($neon-2, .45), transparent); box-shadow: -1vw -1vw 2vw 1vw rgba($neon-1, .1); filter: blur(1vw); }
        &.l-3 {
            bottom: -2vw; right: 17vw; width: 5vw; height: 12vw; border-radius: 50%; transform: rotateZ(-50deg);
            background-image: radial-gradient( rgba($neon-1, .5) 50%, rgba($neon-2, .5),  transparent); filter: blur(2vw);
            &::before, &::after {
                content: ''; position: absolute; width: 200%; top: -6vw; height: 400%;
                background-image: linear-gradient(to bottom, rgba($neon-2, .1), rgba($neon-1, .1), transparent);
                border-top-left-radius: 10vw; border-top-right-radius: 10vw; filter: blur(1.5vw);
            }
            &::before { right: -50%; transform-origin: top right; transform: rotateZ(15deg); box-shadow: -2vw -2vw 0 rgba($neon-1, .075); }
            &::after { left: -50%; transform-origin: top left; transform: rotateZ(-15deg); box-shadow: 2vw -2vw 0 rgba($neon-1, .075); }
        }
        &.l-4 { bottom: 5vw; left: 8vw; width: 28vw; height: 4vw; transform-origin: top left; transform: skewX(58deg); background-image: linear-gradient(to right, rgba($neon-1, .075) 10%, transparent 25%,  transparent, rgba($bg-2, .15)); filter: blur(.25vw); }
        &.l-6 { bottom: 14vw; right: 2vw; width: 8vw; height: 16vw; transform-origin: bottom left; transform: skewY(49deg); background-image: linear-gradient(to left, rgba(#800000, .1), rgba(#800000, .7) ); filter: blur(.35vw); }
    }

    .alt {
        $w: 27vw; $h: .5vw; $d: 13.5vw; @include cube($w, $h, $d);
        &__front{ background: $white-2; }
        &__back{ background: $white-3; }
        &__right{ background: $white-3; }
        &__left{ background: $white-1; }
        &__top{
            background: linear-gradient(to bottom, $black-3, $white-3, $white-2);
            .top-lights {
                position: absolute; width: 100%; height: 100%;
                .light:nth-of-type(1){ position: absolute; height: 100%; width: 100%; background: linear-gradient(to bottom, rgba(#151f70, .75), rgba($neon-1, .75), transparent); }
                .light:nth-of-type(2){ position: absolute; left: 4vw; height: 100%; width: 6vw; background: linear-gradient(to bottom, transparent 20%, rgba($neon-2, .75) , rgba($neon-1, .25) 80%); filter: blur(.1vw); }
                .light:nth-of-type(3){ position: absolute; bottom: 10vw; left: 5vw; width: 6vw; height: 3vw; border-radius: 50%; transform: rotateZ(42deg); background: radial-gradient( rgba(#8ba2fd, .75) 50%, rgba(#2233b3, .75)); filter: blur(.55vw); }
                .light:nth-of-type(4){ position: absolute; bottom: 7vw; left: 4vw; width: 8.5vw; height: 2vw; border-radius: 50%; transform: rotateZ(40deg); background: radial-gradient( rgba(#8ba2fd, .75) 50%, rgba(#2233b3, .75)); filter: blur(.55vw); }
                .light:nth-of-type(5){ position: absolute; bottom: 3.5vw; left: 4.5vw; width: 6vw; height: 2vw; border-radius: 50%; transform: rotateZ(40deg); background: radial-gradient( rgba(#97abfd, .75) 50%, rgba(#2233b3, .75)); filter: blur(.75vw); }
                .light:nth-of-type(6){ position: absolute; bottom: 3vw; left: .5vw; width: 4vw; height: 2vw; border-radius: 50%; transform: rotateZ(40deg); background: radial-gradient( rgba(#97abfd, .75) 50%, rgba(#2233b3, .75)); filter: blur(.35vw); }
                .light:nth-of-type(7){
                    position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, #03040b, $neon-1 10%, transparent 20%);
                    &::before{ content: ''; position: absolute; width: 20%; height: 100%; background: linear-gradient(to right, rgba(#0522ab, .6), transparent 60%); }
                    &::after{ content: ''; position: absolute; width: 100%; height: 20%; background: linear-gradient(to bottom, rgba(#062ad3, .5), transparent 60%); }
                }
                .light:nth-of-type(8){ position: absolute; bottom: 5vw; left: 10vw; width: 6vw; height: 4vw; border-radius: 50%; background: radial-gradient( rgba(#f1effa, .1) 50%, rgba(#9590b9, .1)); filter: blur(.8vw); }
            }
        }
        &__bottom{ background: $white-3; }
    }

    .alb {
        $w: 27vw; $h: 2vw; $d: .5vw; @include cube($w, $h, $d);
        position: absolute; left: 0; bottom: 0;
        &__front{ background: linear-gradient(to right, $white-2 40%, #9590b9); }
        &__back{ background: $white-3; }
        &__right{ background: $white-3; }
        &__left{ background: $white-1; }
        &__top{ background: linear-gradient(to right, $white-1 40%, #f1effa); }
        &__bottom{ background: $white-3; }
    }

    .arb {
        $w: 1vw; $h: 2vw; $d: 14vw; @include cube($w, $h, $d);
        position: absolute; right: 0; bottom: 0;
        &__front{ background: #9590b9; }
        &__back{ background: $white-3; }
        &__right{ background: linear-gradient(to right, $white-4 40%, #171329); }
        &__left{ background: $white-2; }
        &__top{
            background: linear-gradient(to top, $white-1, #3d356d 25%, #312d4e 75%, $white-2);
            &::before{ content: ''; position: absolute; width: 100%; height: 30%; top: 0; background: linear-gradient(to bottom, transparent, rgba($neon-1, .85), transparent); }
        }
        &__bottom{ background: $white-3; }
    }

    .blt {
        $w: 1vw; $h: 20vw; $d: 13.5vw; @include cube($w, $h, $d);
        transform: translateZ(.5vw);
        &__right { background: linear-gradient(to bottom, #161327, $white-3); }
        &__left { background: $white-1; }
        &__bottom { background: $white-3; }
    }

    .blt2 {
        $w: 2vw; $h: .75vw; $d: 13.5vw; @include cube($w, $h, $d);
        position: absolute; left: 0; top: 0; transform: translateZ(20.5vw);
        &__front{ background: $white-3; }
        &__back{ background: $white-3; }
        &__right{
            background: linear-gradient(to right, #9590b9, $white-2, #817bb0);
            &::before{ content: ''; position: absolute; width: 100%; height: 100%; bottom: 0; border-bottom: .1vw solid rgba($white-1, .75); background: linear-gradient(to top, rgba($neon-1, .35) , transparent); }
        }
        &__left{ background: $white-1; }
        &__top{ background: linear-gradient(to top, $white-2, $white-1); }
        &__bottom{ background: $white-3; }
    }

    .blb {
        $w: 26vw; $h: 20vw; $d: .5vw; @include cube($w, $h, $d);
        transform: translateZ(.5vw); left: 1vw;
        &__front {
            background: linear-gradient(to bottom, #5a5482, #6b6697 20%, #5a5482);
            &::before {
                content: ''; position: absolute; width: 100%; height: 100%;
                background: linear-gradient(to bottom, rgba($neon-2, .25), transparent 20%, transparent 80%, rgba($neon-2, .5)), linear-gradient(to right, rgba($black-1, .35), transparent ), linear-gradient(to bottom, rgba($black-1, .35), transparent ), linear-gradient(to bottom, rgba(#000000, .5), transparent 20%, transparent 80%, rgba($neon-2, .25) );
            }
            &::after { content: ''; position: absolute; bottom: 0; width: 100%; height: .75vw; background: linear-gradient(to bottom, #9590b9, $neon-2 ); border-top: .1vw solid $white-4; border-bottom: .1vw solid $white-4; }
        }
        &__back { background: $white-3; }
        &__right { background: linear-gradient(to bottom, #161327, #171329 80%, #161327); }
        &__bottom { background: $white-3; }
    }

    .blb2 {
        $w: 25vw; $h: .75vw; $d: 1vw; @include cube($w, $h, $d);
        position: absolute; left: 2vw; top: 0; transform: translateZ(20.5vw);
        &__front{
            background: linear-gradient(to right, #817bb0, $white-2, #9590b9);
            &::before{ content: ''; position: absolute; width: 100%; height: 100%; bottom: 0; border-bottom: .1vw solid rgba($white-1, .75); background: linear-gradient(to top, rgba($neon-2, .25) , transparent); }
        }
        &__back{ background: $white-3; }
        &__right{ background: #161327; }
        &__left{ background: $white-2; }
        &__top{ background: linear-gradient(to left, $white-2, $white-1); }
        &__bottom{ background: $white-3; }
    }

    .puerta-c {
        position: absolute; left: 3vw; top: 1vw; width: 8vw; height: .5vw;
        transform: translateZ(.5vw);
        &::before { content: ''; position: absolute; width: 100%; height: 200%; background: rgba(#03040b, .65); filter: blur(.5vw); }
    }

    .puerta {
        $w: 7vw; $h: 16vw; $d: .125vw; @include cube($w, $h, $d);
        left: .5vw;
        &__front { background: linear-gradient($cuadro-2, $black-2); border: .125vw solid $neon-1; }
    }

    .puerta-l, .puerta-r {
        $w: .5vw; $h: 16vw; $d: .25vw; @include cube($w, $h, $d);
        &__front{ background: #111231; }
        &__back{ background: $black-3; }
        &__right{ background: $black-3; }
        &__left{ background: $black-2; }
        &__bottom{ background: $black-3; }
    }
    .puerta-r { left: calc(100% - .5vw); }

    .puerta-t {
        $w: 8vw; $h: .5vw; $d: .25vw; @include cube($w, $h, $d);
        position: absolute; left: 0; top: 0; transform: translateZ(16vw);
        &__front{ background: #111231; }
        &__back{ background: $black-3; }
        &__right{ background: $black-3; }
        &__left{ background: $black-2; }
        &__top{ background: $black-1; }
        &__bottom{ background: $black-3; }
    }

    .cuadro-l, .cuadro-r {
        $w: 5vw; $h: 7vw; $d: .125vw; @include cube($w, $h, $d);
        position: absolute; left: 13vw; top: 1vw; transform: translateZ(10vw);
        &__front{ background-repeat: no-repeat; background-size: contain; background-position: center; }
        &__back{
            background: $white-3;
            box-shadow: .35vw .35vw .35vw rgba($neon-1, .2), -.35vw .35vw .35vw rgba($neon-1, .2), -.35vw -.35vw .35vw rgba($neon-1, .2), .35vw -.35vw .35vw rgba($neon-1, .2);
        }
        &__right{ background: $white-3; }
        &__left{ background: $white-2; }
        &__top{ background: $white-2; }
        &__bottom{ background: $white-3; }
    }

    .cuadro-l {
        &__front {
            background-image: url('https://rawcdn.githack.com/ricardoolivaalonso/Codepen/43200238c3177b02a97423fa6cc23f8bfcc5c105/Room/cuadro-1.jpg');
            background-color: $cuadro-1; border: 1vw solid $cuadro-1;
            &::before { content: ''; position: absolute; top: -1vw; left: -1vw; width: 5vw; height: 7vw; background-image: linear-gradient(to bottom, rgba($neon-2, .15), rgba($neon-2, .15)); }
        }
    }

    .cuadro-r {
        left: 20vw;
        &__front {
            background-image: url('https://rawcdn.githack.com/ricardoolivaalonso/Codepen/43200238c3177b02a97423fa6cc23f8bfcc5c105/Room/cuadro-2.jpg');
            background-color: $cuadro-2; border: .5vw solid $cuadro-2;
            &::before { content: ''; position: absolute; top: -.5vw; left: -.5vw; width: 5vw; height: 7vw; background-image: linear-gradient(to bottom, rgba($neon-2, .15), rgba($neon-2, .15)); }
        }
    }

    .librero {
        $w: 12vw; $h: .25vw; $d: .75vw; @include cube($w, $h, $d);
        position: absolute; left: 13vw; top: 1vw; transform: translateZ(7vw);
        &__front{ background: $white-2; }
        &__back{
            background: $white-3;
            &::before{ content: ''; position: absolute; width: 100%; height: 4vw; border-radius: 50%; background: radial-gradient( rgba(#bcb7dd, .7) 50%, rgba(#2233b3, .6), transparent); filter: blur(1.25vw); }
        }
        &__right{ background: $white-3; }
        &__left{ background: $white-2; }
        &__top{ background: #ebe8f8; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(#2953f9, .75), transparent); } }
        &__bottom{ background: $white-3; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(#2953f9, .75), transparent); } }
    }

    .libros { position: absolute; }
    .libro {
        $w: .5vw; $h: 1.5vw; $d: .5vw; @include cube($w, $h, $d);
        position: absolute; top: 1vw; transform: translateZ(7.25vw);
        &__front{ background: linear-gradient(to bottom, $white-2, #9590b9); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .4), transparent); } }
        &__back{ background: $white-1; }
        &__right{ background: #817bb0; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .85), rgba($neon-2, .35)); } }
        &__left{ background: $white-2; }
        &__top{ background: #ebe8f8; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .85), rgba($neon-2, .35)); } }
        &__bottom{ background: #5a5482; }
        &:nth-of-type(1){ left: 16vw; transform: translateZ(7.25vw) rotateZ(-10deg); transform-origin: left; }
        &:nth-of-type(2){ left: 17vw; transform: translateZ(7.25vw) rotateZ(2deg); }
        &:nth-of-type(3){ left: 17.75vw; transform: translateZ(7.25vw) rotateZ(5deg); }
        &:nth-of-type(4){ left: 19vw; transform: translateZ(7.25vw) rotateZ(10deg); transform-origin: left; }
        &:nth-of-type(5){ left: 20vw; transform: translateZ(7.25vw) rotateZ(10deg); transform-origin: left; }
        &:nth-of-type(6){ left: 23vw; transform: translateZ(7.25vw) rotateY(-90deg); transform-origin: left; }
    }

    .fotos { position: absolute; }
    .foto {
        $w: .125vw; $h: 1.125vw; $d: 1.125vw; @include cube($w, $h, $d);
        position: absolute; left: 2vw; top: 11vw; transform: translateZ(5.26vw);
        &__front{ background: linear-gradient(to bottom, $white-2, #9590b9); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .4), transparent); } }
        &__back{ background: $white-1; }
        &__right{ display: flex; justify-content: center; align-items: center; background: #9590b9; border: .15vw solid $black-1; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: repeating-linear-gradient(to bottom, $white-2 .1vw, #d6cfef .2vw); } }
        &__left{ background: $white-2; }
        &__top{ background: #ebe8f8; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .85), rgba($neon-2, .35)); } }
        &__bottom{ background: #7871a7; &::before{ content: ''; position: absolute; right: -100%; width: 400%; height: 100%; background: rgba($black-3, .75); filter: blur(.15vw); } }
        &:nth-of-type(1){ top: 10.5vw; transform: translateZ(5.26vw) rotateZ(5deg); }
        &:nth-of-type(2){ top: 15vw; transform: translateZ(5.26vw) rotateZ(-15deg); }
    }

    .cajas { position: absolute; }
    .caja {
        $w: 1vw; $h: .75vw; $d: .75vw; @include cube($w, $h, $d);
        position: absolute; left: 2vw; transform: translateZ(16.35vw);
        &__front{ background: linear-gradient(to bottom, $white-2, #9590b9); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .4), transparent); } }
        &__back{ background: $white-2; }
        &__right{ background: #817bb0; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .85), rgba($neon-2, .35)); } }
        &__left{ background: $white-2; }
        &__top{ background: #ebe8f8; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-1, .85), rgba($neon-2, .35)); } }
        &__bottom{ background: #7871a7; &::before{ content: ''; position: absolute; right: -100%; width: 400%; height: 100%; background: rgba($black-3, .75); filter: blur(.15vw); } }
        &:nth-of-type(1){ top: 11vw; }
        &:nth-of-type(2){ top: 13.5vw; }
        &:nth-of-type(3){ top: 17vw; }
    }

    .tv {
        $w: .5vw; $h: 6vw; $d: 6vw; @include cube($w, $h, $d);
        position: absolute; left: 1.51vw; top: 8vw; transform: translateZ(8vw);
        &__front { background: $black-3; }
        &__back { background: $black-3; }
        &__right { 
            background-color: #7991fc; 
            border: .125vw solid #03040b; 
            animation: pantalla-tv .25s infinite alternate;
            background-image: url('/screenshots/campus.png');
            background-size: cover;
            background-position: center;
            &::after {
                content: '';
                position: absolute;
                width: 100%; height: 100%;
                background: linear-gradient(rgba(121, 145, 252, 0.2), transparent);
            }
        }
        &__left { background: $black-3; display: flex; justify-content: center; align-items: center; &::before { content: ''; position: absolute; width: 13vw; height: 7vw; background: radial-gradient($neon-2, $neon-1); filter: blur(1.25vw); animation: luz-tv .25s infinite alternate; } }
        &__top { background: $black-3; }
        &__bottom { background: $black-3; }
    }

    .neon-logo {
        position: absolute;
        left: 14vw;
        top: 5vw;
        transform: translateZ(18vw) rotateX(-90deg);
        display: flex;
        flex-direction: column;
        align-items: center;

        .neon-text {
            font-family: 'Inter', sans-serif;
            font-weight: 900;
            font-size: 1.8vw;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 0.4vw;
            text-shadow: 
                0 0 0.5vw #fff,
                0 0 1vw $neon-1,
                0 0 2vw $neon-1,
                0 0 4vw $neon-2;
            animation: flicker 2s infinite alternate;
        }

        .neon-glow {
            position: absolute;
            width: 120%;
            height: 100%;
            background: radial-gradient(circle, rgba($neon-1, 0.2), transparent 70%);
            filter: blur(1vw);
        }
    }

    @keyframes flicker {
        0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
        20%, 24%, 55% { opacity: 0.7; }
    }

    .repisa-t, .repisa-b {
        $w: 1.5vw; $h: .25vw; $d: 5vw; @include cube($w, $h, $d);
        position: absolute; left: 1.5vw; top: 9vw; transform: translateZ(16vw);
        &__front{ background: $white-2; }
        &__back{ background: $white-1; }
        &__right{ background: #8d87b9; }
        &__left{ background: $white-1; }
        &__top{ background: #ebe8f8; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to right, rgba(#2953f9, .75), transparent); } }
        &__bottom{ background: $white-3; &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to right, rgba(#2953f9, .75), transparent); } }
    }
    .repisa-b { transform: translateZ(5vw); }

    .bocina-l, .bocina-r {
        $w: .75vw; $h: 6vw; $d: .75vw; @include cube($w, $h, $d);
        position: absolute; left: 1.5vw; bottom: 5.25vw; transform: translateZ(8vw);
        &__right{ background: radial-gradient(#03040b, #000000); }
        &__top{ background: linear-gradient(to left, #ebe8f8, $white-2, #817bb0); }
        &__bottom{ background: $white-3; }
    }

    .bocina-l {
        &__front{ background: linear-gradient(to right, $neon-1, #6b6697 30%, #d6cfef); }
        &__back{ background: linear-gradient(to right, $white-3, #312d4e); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to right, rgba($neon-1, .35) 65%, rgba($neon-1, .95)); } }
        &__left{ background: $white-4; &::before{ content: ''; position: absolute; top: -10%; left: 20%; width: 120%; height: 120%; background: linear-gradient(to left, rgba(#03061c, .75), rgba(#000000, .75)); filter: blur(.5vw); } }
    }

    .bocina-r {
        top: 5.25vw;
        &__front{ background: linear-gradient(to right, $white-3, #171329); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to left, rgba($neon-1, .35) 65%, rgba($neon-1, .95)); } }
        &__back{ background: linear-gradient(to right, #6b6697, #d6cfef); }
        &__left{ background: $white-4; &::before{ content: ''; position: absolute; top: -10%; left: -20%; width: 120%; height: 120%; background: linear-gradient(to right, rgba(#03061c, .75), rgba(#000000, .75)); filter: blur(.5vw); } }
    }

    .muro {
        $w: .5vw; $h: 18vw; $d: 8vw; @include cube($w, $h, $d);
        position: absolute; left: 1vw; top: 6vw; transform: translateZ(.51vw);
        &__front{ background: $black-3; }
        &__back{ background: $black-3; }
        &__right{
            display: flex; justify-content: center; background: radial-gradient(circle, $black-1, #0a0b1e); overflow: hidden;
            &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-2, .25), transparent 30%, transparent 70%, rgba($neon-2, .15)); }
            &::after{ content: ''; position: absolute; bottom: 0; left: 5%; width: 90%; height: 25%; background: linear-gradient(to bottom, rgba(#03040b, .75), rgba(#03040b, .95)); filter: blur(.75vw); }
        }
        &__left{ background: $black-3; box-shadow: .5vw .5vw .6vw rgba($neon-1, .3), .5vw -.5vw .6vw rgba($neon-1, .3), -.5vw .5vw .6vw rgba($neon-1, .3), -.5vw -.5vw .6vw rgba($neon-1, .3); }
    }

    .sillon-c { position: absolute; left: 20vw; bottom: 5vw; width: 6vw; height: 14vw; transform: translateZ(.5vw); }

    .sillon-b {
        $w: 6vw; $h: 3vw; $d: 7vw; @include cube($w, $h, $d);
        &__front{ background: linear-gradient(to bottom, $black-2, $black-3); }
        &__back{ background: $black-3; }
        &__right{ background: linear-gradient(to bottom, $black-3, #000000); }
        &__left{ background: $black-2; }
        &__top { background: linear-gradient(to right, $black-1, #0f102c); border-left: .1vw solid rgba($white-2, .5); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba($neon-2, .25), transparent); } }
        &__bottom{ background: $black-3; }
    }

    .sillon-t {
        $w: 1vw; $h: 6.5vw; $d: 7vw; @include cube($w, $h, $d);
        position: absolute; right: 0; top: 1vw; transform: rotateY(7deg); transform-origin: right;
        &__front{ background: linear-gradient(to bottom, $black-3, #0b0c20); }
        &__back{ background: linear-gradient(to bottom, #0a0b1e, $black-3); }
        &__right{ background: linear-gradient(to bottom, #0a0b1e, #000000); }
        &__left{ background: $black-2; }
        &__top{ background: linear-gradient(to right, $black-1, #0f102c); border-bottom: .1vw solid rgba($white-2, .5); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to right, rgba($neon-2, .5), transparent); } }
        &__bottom{ background: $black-3; }
    }

    .sillon-l, .sillon-r {
        $w: 6vw; $h: 4.5vw; $d: .5vw; @include cube($w, $h, $d);
        position: absolute; left: 0; bottom: 0;
        &__front{ background: linear-gradient(to bottom, $black-2, $black-3); }
        &__back{ background: $black-3; }
        &__right{ background: linear-gradient(to bottom, $black-3, #000000); }
        &__left{ background: linear-gradient(to bottom, $black-2, #0a0b1e); }
        &__top{ background: linear-gradient(to right, $black-1, #0f102c); border-bottom: .1vw solid rgba($white-2, .5); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(to right, rgba($neon-2, .75), transparent); } }
        &__bottom{ background: $black-3; }
    }
    .sillon-r { top: 0; }

    .mesa-c { position: absolute; left: 7vw; top: 9.5vw; width: 10vw; height: 9vw; transform: translateZ(.5vw); }
    .mesa-shadow { position: absolute; width: 100%; height: 100%; border-radius: 10%; background: rgba($black-3, .95); filter: blur(1vw); transform: translateZ(0); }
    
    .mesa {
        $w: 10vw; $h: .5vw; $d: 4.5vw; @include cube($w, $h, $d);
        &__front{ background: linear-gradient(to right, #0b0c20, #000000); &::before{ content: ''; position: absolute; width: 100%; height: 100%; background: linear-gradient(45deg, rgba($neon-1, .125), rgba(#8ba2fd, .25), transparent 55%); } }
        &__back{ background: $black-3; }
        &__right{ background: #000000; }
        &__left{ background: $black-2; }
        &__top { background: linear-gradient(45deg, #181b47, $black-3); &::before{ content: ''; position: absolute; bottom: 0; width: 50%; height: 50%; background: linear-gradient(45deg, rgba($neon-1, .5), rgba($white-1, .125) 50%, transparent 55%); } }
        &__bottom{ background: $black-3; }
    }

    .mesa-p {
        $w: .25vw; $h: 1.75vw; $d: .125vw; @include cube($w, $h, $d);
        position: absolute; width: .25vw; height: .25vw;
        &__front{ background: $black-3; }
        &__back{ background: $black-3; }
        &__right{ background: #000000; }
        &__left{ background: $black-2; }
        &__top{ background: $black-1; }
        &__bottom{ background: $black-3; &::before{ content: ''; position: absolute; width: 600%; height: 200%; top: 0; right: 0; border-radius: 10%; transform: translateZ(-.1vw); background: rgba(#000000, .75); filter: blur(.35vw); } }
        &:nth-of-type(2){ left: .5vw; top: .5vw; }
        &:nth-of-type(3){ right: .5vw; top: .5vw; }
        &:nth-of-type(4){ left: .5vw; bottom: .5vw; }
        &:nth-of-type(5){ right: .5vw; bottom: .5vw; }
    }

    .tablet {
        $w: 2vw; $h: .125vw; $d: 1.25vw; @include cube($w, $h, $d);
        left: 13vw; top: 12vw; transform: translateZ(3.01vw) rotateZ(15deg);
        &__front{ background: #8d87b9; }
        &__back{ background: $white-3; }
        &__right{ background: $white-3; }
        &__left{ background: $white-2; }
        &__top { background: #8ba2fd; border: .2vw solid rgba($neon-1, .25); animation: pantalla-tablet .25s infinite; }
        &__bottom{ background: #000000; box-shadow: .25vw .25vw .5vw rgba(#151f70, .75), -.25vw .25vw .5vw rgba(#151f70, .75), -.25vw -.25vw .5vw rgba(#151f70, .75), .25vw -.25vw .5vw rgba(#151f70, .75); }
    }
}

@keyframes pantalla-tablet { from { background-color: #6e88fc; } }
@keyframes pantalla-tv { from { background-color: #6e88fc; } }
@keyframes luz-tv { from { background-image: radial-gradient(rgba(#2636ad, .8), rgba(#4562fa, .8)); } }
